/* Base
------------------------------------------------------------*/
html {
  font-size: 62.5%; }

body {
  background-color: #f9f8f6; }

a {
  color: #000000;
  text-decoration: none; }
  a:visited {
    color: black; }
  a:hover {
    color: black; }
  a:active {
    color: #0d0d0d; }

/* Font
------------------------------------------------------------*/
/* Align
------------------------------------------------------------*/
/* Layout
------------------------------------------------------------*/
/* Contents
------------------------------------------------------------*/
@media (max-width: 550px) {
  .container {
    padding: 0 10px; } }
/* Sass
------------------------------------------------------------*/
/* index.html
------------------------------------------------------------*/
/* header
------------------------------------------------------------*/
header {
  padding-top: 40px; }
  header #header_right_sp {
    display: none; }
  header #header_left a {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -webkit-flex-direction: row;
    flex-direction: row;
    height: 59px; }
  header #header_right {
    margin-left: 0;
    width: 52%; }
  header #header_right_pc {
    display: -webkit-flex;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    -webkit-flex-direction: row;
    flex-direction: row; }
    header #header_right_pc .header_nav_pc ul {
      display: -webkit-flex;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      -webkit-flex-direction: row;
      flex-direction: row;
      margin-bottom: 0;
      height: 59px; }
      header #header_right_pc .header_nav_pc ul li {
        margin-bottom: 0;
        margin-left: 20px;
        list-style: none; }
    header #header_right_pc .sns_fb_pc {
      margin-left: 15px; }
    header #header_right_pc .sns_insta_pc {
      margin-left: 10px; }
  @media (max-width: 550px) {
    header {
      padding-top: 15px; }
      header #header_right_pc {
        display: none; }
      header #header_left a {
        justify-content: center; }
        header #header_left a img {
          width: 30%; }
      header #header_right {
        width: 100%; }
      header #header_right_sp {
        padding-top: 5px;
        display: -webkit-flex;
        display: flex;
        justify-content: center;
        align-items: center;
        -webkit-flex-direction: row;
        flex-direction: row; }
        header #header_right_sp .sns_fb_sp {
          margin-right: 12px; }
        header #header_right_sp .sns_insta_sp {
          margin-right: 12px; }
        header #header_right_sp .header_nav_sp #menu {
          width: 100%;
          background-color: #ff6d77;
          padding: 15px;
          margin-bottom: 0;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          z-index: 100;
          position: absolute;
          top: 70px;
          right: 0;
          display: none; }
          header #header_right_sp .header_nav_sp #menu li {
            margin-bottom: 0;
            list-style: none; }
            header #header_right_sp .header_nav_sp #menu li a {
              display: block;
              padding: 10px;
              border-bottom: 1px solid #ffffff;
              border-width: thin;
              color: #ffffff;
              font-family: "Hiragino Kaku Gothic ProN"; }
            header #header_right_sp .header_nav_sp #menu li #menu_guide {
              border-bottom: 0; } }

/* main
------------------------------------------------------------*/
#main {
  padding-top: 40px; }
  @media (max-width: 550px) {
    #main {
      padding-top: 5px; } }
  #main #main_content {
    width: 75%; }
    @media (max-width: 550px) {
      #main #main_content {
        width: 100%; } }
  #main #carousel .owl-dot {
    height: 24px; }
  #main #carousel img {
    display: block;
    width: 100%; }
  @media (max-width: 550px) {
    #main #carousel .owl-dot {
      margin-bottom: 0; } }
  #main .sp_title {
    display: none; }
  #main .title {
    width: 100%; }
  @media (max-width: 550px) {
    #main .sp_title {
      display: block;
      margin-top: 5px;
      margin-bottom: 5px;
      margin-right: auto;
      margin-left: auto; }
    #main .title {
      display: none; } }
  #main .new_item, #main .popular_item {
    padding: 30px 0;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap; }
    #main .new_item .item, #main .popular_item .item {
      width: 33.33333%;
      padding: 13px 13px 20px 13px;
      background-color: #ffffff;
      border: 1px solid #f9f8f6;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      font-family: "Hiragino Kaku Gothic ProN"; }
      #main .new_item .item img, #main .popular_item .item img {
        width: 100%;
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 10px; }
      #main .new_item .item p, #main .popular_item .item p {
        font-size: 12px;
        font-size: 1.2rem;
        letter-spacing: 0.05rem;
        margin-bottom: 0; }
      #main .new_item .item #fee, #main .popular_item .item #fee {
        margin-top: 20px; }
    @media (max-width: 550px) {
      #main .new_item, #main .popular_item {
        padding: 15px 0; }
        #main .new_item .item, #main .popular_item .item {
          width: 50%;
          padding: 9px 9px 17px 9px; }
          #main .new_item .item img, #main .popular_item .item img {
            margin-bottom: 5px; }
          #main .new_item .item p, #main .popular_item .item p {
            font-size: 11px;
            font-size: 1.1rem; }
          #main .new_item .item #fee, #main .popular_item .item #fee {
            margin-top: 8px; } }
  #main .shopping_guide {
    padding: 30px 0;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap; }
    #main .shopping_guide .guide {
      padding: 20px 20px 15px 20px;
      width: 50%;
      background-color: #ffffff;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      font-family: "Hiragino Kaku Gothic ProN"; }
      #main .shopping_guide .guide h3 {
        font-size: 16px;
        font-size: 1.6rem;
        color: #887f69;
        font-weight: bold; }
      #main .shopping_guide .guide img {
        display: block; }
      #main .shopping_guide .guide p {
        font-size: 12px;
        font-size: 1.2rem;
        color: #887f69;
        font-weight: bold; }
        #main .shopping_guide .guide p span {
          display: block;
          font-size: 12px;
          font-size: 1.2rem;
          color: #000000;
          font-weight: normal;
          letter-spacing: 0.05rem; }
    #main .shopping_guide .delivery {
      border-right: 2.5px solid #f9f8f6; }
      #main .shopping_guide .delivery img {
        width: 55%;
        margin-bottom: 15px; }
      #main .shopping_guide .delivery p {
        margin-bottom: 18px; }
        #main .shopping_guide .delivery p span {
          padding-top: 4px; }
    #main .shopping_guide .pay {
      border-left: 2.5px solid #f9f8f6; }
      #main .shopping_guide .pay h3 {
        margin-bottom: 15px; }
      #main .shopping_guide .pay img {
        width: 100%;
        margin: 10px 0; }
      #main .shopping_guide .pay p {
        margin-bottom: 0; }
        #main .shopping_guide .pay p span {
          padding-top: 4px;
          padding-bottom: 15px; }
    @media (max-width: 550px) {
      #main .shopping_guide {
        padding: 15px 0; }
        #main .shopping_guide .guide {
          width: 100%; }
        #main .shopping_guide .delivery {
          border-right: 0px;
          margin-bottom: 5px; }
          #main .shopping_guide .delivery img {
            width: 70%; }
        #main .shopping_guide .pay {
          border-left: 0px; } }
  #main #sidebar {
    margin-left: 2%;
    width: 23%; }
    #main #sidebar .search {
      background-color: #ffffff;
      padding: 20px; }
      #main #sidebar .search img {
        display: block;
        margin-bottom: 10px; }
      #main #sidebar .search form {
        margin-bottom: 0; }
        #main #sidebar .search form input {
          height: 30px;
          width: 100%;
          padding: 8px;
          margin-bottom: 0;
          border: 0;
          border-radius: 0;
          color: #b5b5b5;
          font-size: 11px;
          font-size: 1.1rem;
          font-style: oblique;
          letter-spacing: 0.05rem;
          background-color: #eeeeee;
          background-image: url("../images/top/search_icon.png");
          background-repeat: no-repeat;
          background-position: 93% center; }
    #main #sidebar .content {
      background-color: #887f69;
      height: 45px;
      margin-top: 10px;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      display: -webkit-flex;
      display: flex;
      justify-content: space-between;
      -webkit-flex-direction: row;
      flex-direction: row; }
    #main #sidebar .link {
      padding: 16px 10px 16px 15px; }
    #main #sidebar .categories .category {
      padding: 18px 8px 18px 15px; }
    #main #sidebar .categories ul {
      margin-bottom: 0; }
      #main #sidebar .categories ul li {
        background-color: #ffffff;
        height: 45px;
        line-height: 45px;
        padding-left: 15px;
        margin-bottom: 2px;
        list-style: none;
        font-size: 12px;
        font-size: 1.2rem;
        letter-spacing: 0.05rem;
        font-family: "Hiragino Kaku Gothic ProN";
        background-image: url("../images/top/next_icon_gray.png");
        background-repeat: no-repeat;
        background-position: 95% center; }
    #main #sidebar .about .about_title, #main #sidebar .about .shop_info_title, #main #sidebar .shop_info .about_title, #main #sidebar .shop_info .shop_info_title {
      background-color: #887f69;
      height: 45px;
      line-height: 45px;
      margin-top: 10px;
      padding-left: 15px; }
    #main #sidebar .about .about_content, #main #sidebar .about .shop_info_content, #main #sidebar .shop_info .about_content, #main #sidebar .shop_info .shop_info_content {
      background-color: #ffffff;
      padding: 10px 11px 20px 11px; }
      #main #sidebar .about .about_content .about_img .about_pic1, #main #sidebar .about .about_content .about_img .shop_info_pic1, #main #sidebar .about .about_content .shop_info_img .about_pic1, #main #sidebar .about .about_content .shop_info_img .shop_info_pic1, #main #sidebar .about .shop_info_content .about_img .about_pic1, #main #sidebar .about .shop_info_content .about_img .shop_info_pic1, #main #sidebar .about .shop_info_content .shop_info_img .about_pic1, #main #sidebar .about .shop_info_content .shop_info_img .shop_info_pic1, #main #sidebar .shop_info .about_content .about_img .about_pic1, #main #sidebar .shop_info .about_content .about_img .shop_info_pic1, #main #sidebar .shop_info .about_content .shop_info_img .about_pic1, #main #sidebar .shop_info .about_content .shop_info_img .shop_info_pic1, #main #sidebar .shop_info .shop_info_content .about_img .about_pic1, #main #sidebar .shop_info .shop_info_content .about_img .shop_info_pic1, #main #sidebar .shop_info .shop_info_content .shop_info_img .about_pic1, #main #sidebar .shop_info .shop_info_content .shop_info_img .shop_info_pic1 {
        display: block;
        width: 100%; }
      #main #sidebar .about .about_content .about_info p, #main #sidebar .about .about_content .shop_info_info p, #main #sidebar .about .shop_info_content .about_info p, #main #sidebar .about .shop_info_content .shop_info_info p, #main #sidebar .shop_info .about_content .about_info p, #main #sidebar .shop_info .about_content .shop_info_info p, #main #sidebar .shop_info .shop_info_content .about_info p, #main #sidebar .shop_info .shop_info_content .shop_info_info p {
        margin: 10px 0 20px;
        font-size: 12px;
        font-size: 1.2rem;
        letter-spacing: 0.05rem;
        font-family: "Hiragino Kaku Gothic ProN"; }
      #main #sidebar .about .about_content .about_info a .about_pic2, #main #sidebar .about .about_content .about_info a .shop_info_pic2, #main #sidebar .about .about_content .shop_info_info a .about_pic2, #main #sidebar .about .about_content .shop_info_info a .shop_info_pic2, #main #sidebar .about .shop_info_content .about_info a .about_pic2, #main #sidebar .about .shop_info_content .about_info a .shop_info_pic2, #main #sidebar .about .shop_info_content .shop_info_info a .about_pic2, #main #sidebar .about .shop_info_content .shop_info_info a .shop_info_pic2, #main #sidebar .shop_info .about_content .about_info a .about_pic2, #main #sidebar .shop_info .about_content .about_info a .shop_info_pic2, #main #sidebar .shop_info .about_content .shop_info_info a .about_pic2, #main #sidebar .shop_info .about_content .shop_info_info a .shop_info_pic2, #main #sidebar .shop_info .shop_info_content .about_info a .about_pic2, #main #sidebar .shop_info .shop_info_content .about_info a .shop_info_pic2, #main #sidebar .shop_info .shop_info_content .shop_info_info a .about_pic2, #main #sidebar .shop_info .shop_info_content .shop_info_info a .shop_info_pic2 {
        display: block;
        margin: 0 auto; }
    @media (max-width: 550px) {
      #main #sidebar {
        margin-left: 0;
        width: 100%; }
        #main #sidebar .search img {
          display: none; }
        #main #sidebar .link {
          margin-top: 15px; }
        #main #sidebar .categories ul li {
          background-position: 96% center; }
        #main #sidebar .about .about_content, #main #sidebar .about .shop_info_content, #main #sidebar .shop_info .about_content, #main #sidebar .shop_info .shop_info_content {
          display: -webkit-flex;
          display: flex;
          -webkit-flex-direction: row;
          flex-direction: row;
          padding: 10px; }
          #main #sidebar .about .about_content .about_img, #main #sidebar .about .about_content .shop_info_img, #main #sidebar .about .shop_info_content .about_img, #main #sidebar .about .shop_info_content .shop_info_img, #main #sidebar .shop_info .about_content .about_img, #main #sidebar .shop_info .about_content .shop_info_img, #main #sidebar .shop_info .shop_info_content .about_img, #main #sidebar .shop_info .shop_info_content .shop_info_img {
            margin-right: 11px;
            width: 100%; }
          #main #sidebar .about .about_content .about_info, #main #sidebar .about .about_content .shop_info_info, #main #sidebar .about .shop_info_content .about_info, #main #sidebar .about .shop_info_content .shop_info_info, #main #sidebar .shop_info .about_content .about_info, #main #sidebar .shop_info .about_content .shop_info_info, #main #sidebar .shop_info .shop_info_content .about_info, #main #sidebar .shop_info .shop_info_content .shop_info_info {
            width: 100%; }
            #main #sidebar .about .about_content .about_info p, #main #sidebar .about .about_content .shop_info_info p, #main #sidebar .about .shop_info_content .about_info p, #main #sidebar .about .shop_info_content .shop_info_info p, #main #sidebar .shop_info .about_content .about_info p, #main #sidebar .shop_info .about_content .shop_info_info p, #main #sidebar .shop_info .shop_info_content .about_info p, #main #sidebar .shop_info .shop_info_content .shop_info_info p {
              margin: 0 0 15px 0;
              font-size: 11px;
              font-size: 1.1rem; }
            #main #sidebar .about .about_content .about_info a .about_pic2, #main #sidebar .about .about_content .about_info a .shop_info_pic2, #main #sidebar .about .about_content .shop_info_info a .about_pic2, #main #sidebar .about .about_content .shop_info_info a .shop_info_pic2, #main #sidebar .about .shop_info_content .about_info a .about_pic2, #main #sidebar .about .shop_info_content .about_info a .shop_info_pic2, #main #sidebar .about .shop_info_content .shop_info_info a .about_pic2, #main #sidebar .about .shop_info_content .shop_info_info a .shop_info_pic2, #main #sidebar .shop_info .about_content .about_info a .about_pic2, #main #sidebar .shop_info .about_content .about_info a .shop_info_pic2, #main #sidebar .shop_info .about_content .shop_info_info a .about_pic2, #main #sidebar .shop_info .about_content .shop_info_info a .shop_info_pic2, #main #sidebar .shop_info .shop_info_content .about_info a .about_pic2, #main #sidebar .shop_info .shop_info_content .about_info a .shop_info_pic2, #main #sidebar .shop_info .shop_info_content .shop_info_info a .about_pic2, #main #sidebar .shop_info .shop_info_content .shop_info_info a .shop_info_pic2 {
              margin: 0;
              width: 70%; } }

/* footer
------------------------------------------------------------*/
footer #pagetop {
  display: block;
  padding: 30px 0 20px 0;
  margin-left: auto; }
footer .footer_list {
  border-top: 1px solid #887f69;
  padding-top: 35px;
  margin-bottom: 30px;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  -webkit-flex-direction: row;
  flex-direction: row; }
  footer .footer_list li {
    list-style: none;
    margin: 0 9px;
    font-size: 12px;
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
    font-family: "Hiragino Kaku Gothic ProN"; }
footer .copyright p {
  font-size: 10px;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  font-family: "Hiragino Kaku Gothic ProN";
  color: #b8b4ac;
  text-align: center;
  margin-bottom: 150px; }

@media (max-width: 550px) {
  footer #pagetop {
    padding: 30px 0;
    margin-left: auto;
    margin-right: auto; }
  footer .footer_list {
    padding: 18px 16px 10px 16px;
    margin-bottom: 0;
    flex-wrap: wrap; }
    footer .footer_list li {
      margin: 0 2px;
      font-size: 11px;
      font-size: 1.1rem; }
  footer .copyright {
    padding: 0 11px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    footer .copyright p {
      margin-bottom: 90px; } }
/* list.html
------------------------------------------------------------*/
#main #main_content #breadcrumbs {
  height: 34px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 10px 30px;
  margin-bottom: 10px;
  background-color: #e8e4da;
  background-image: url("../images/list/home_icon.png");
  background-repeat: no-repeat;
  background-position: 1.5% center; }
  #main #main_content #breadcrumbs p {
    font-size: 11px;
    font-size: 1.1rem;
    font-family: "Hiragino Kaku Gothic ProN";
    color: #887f69;
    text-transform: uppercase;
    margin-bottom: 0; }
    #main #main_content #breadcrumbs p span {
      color: #626262;
      padding: 0 8px; }
  @media (max-width: 550px) {
    #main #main_content #breadcrumbs {
      background-position: 3% center; } }
#main #main_content #cate_img_sp {
  display: none; }
#main #main_content #cate_img_pc {
  width: 100%; }
@media (max-width: 550px) {
  #main #main_content #cate_img_sp {
    display: block;
    width: 100%; }
  #main #main_content #cate_img_pc {
    display: none; } }
#main #main_content .list_item, #main #main_content .recent_item {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }
  #main #main_content .list_item .item, #main #main_content .recent_item .item {
    width: 33.33333%;
    padding: 13px 13px 20px 13px;
    background-color: #ffffff;
    border: 1px solid #f9f8f6;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Hiragino Kaku Gothic ProN"; }
    #main #main_content .list_item .item img, #main #main_content .recent_item .item img {
      width: 100%;
      display: block;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 10px; }
    #main #main_content .list_item .item p, #main #main_content .recent_item .item p {
      font-size: 12px;
      font-size: 1.2rem;
      letter-spacing: 0.05rem;
      margin-bottom: 0; }
    #main #main_content .list_item .item #fee, #main #main_content .recent_item .item #fee {
      margin-top: 20px; }
  @media (max-width: 550px) {
    #main #main_content .list_item, #main #main_content .recent_item {
      padding-top: 10px; }
      #main #main_content .list_item .item, #main #main_content .recent_item .item {
        width: 50%;
        padding: 9px 9px 17px 9px; }
        #main #main_content .list_item .item img, #main #main_content .recent_item .item img {
          margin-bottom: 5px; }
        #main #main_content .list_item .item p, #main #main_content .recent_item .item p {
          font-size: 11px;
          font-size: 1.1rem; }
        #main #main_content .list_item .item #fee, #main #main_content .recent_item .item #fee {
          margin-top: 8px; } }
#main #main_content .recent_item {
  padding: 30px 0; }
  @media (max-width: 550px) {
    #main #main_content .recent_item {
      padding-top: 15px; } }
#main #main_content #button {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  -webkit-flex-direction: row;
  flex-direction: row;
  margin: 20px 0 30px 0; }
  #main #main_content #button p {
    background-color: #887f69;
    width: 121px;
    height: 40px;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 14px;
    font-size: 1.4rem;
    color: #ffffff;
    font-family: "Avenir Next";
    font-weight: bold;
    letter-spacing: 0.05rem;
    line-height: 40px;
    text-align: center; }
  @media (max-width: 550px) {
    #main #main_content #button {
      margin: 20px 0 30px 0; } }

/* products.html
------------------------------------------------------------*/
.pro #main_content .pro_content {
  background-color: #ffffff;
  padding: 40px 60px 80px 60px;
  margin-bottom: 30px; }
  .pro #main_content .pro_content .pro_header {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    -webkit-flex-direction: row;
    flex-direction: row;
    margin-bottom: 30px; }
    .pro #main_content .pro_content .pro_header #pro_title {
      font-size: 14px;
      font-size: 1.4rem;
      font-family: "Hiragino Kaku Gothic ProN";
      letter-spacing: 0.2rem;
      font-weight: bold;
      margin-bottom: 0;
      line-height: 22px; }
    .pro #main_content .pro_content .pro_header #part_No {
      font-size: 10px;
      font-size: 1rem;
      font-family: "Hiragino Kaku Gothic ProN";
      color: #a6a6a6;
      margin-bottom: 0;
      line-height: 22px; }
  .pro #main_content .pro_content .pro_img {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    border-top: 1px solid #e3e8cf;
    border-bottom: 1px solid #e3e8cf;
    padding: 20px 0 15px 0; }
    .pro #main_content .pro_content .pro_img .display_img {
      width: 71.05719%; }
      .pro #main_content .pro_content .pro_img .display_img img {
        width: 100%; }
    .pro #main_content .pro_content .pro_img .img_list {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      width: 28.94281%;
      margin-bottom: 0; }
      .pro #main_content .pro_content .pro_img .img_list li {
        list-style: none;
        width: 50%;
        margin-bottom: 0;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding-left: 8px; }
        .pro #main_content .pro_content .pro_img .img_list li img {
          width: 100%; }
  .pro #main_content .pro_content .color_size {
    padding: 20px 0; }
    .pro #main_content .pro_content .color_size img {
      display: block; }
    .pro #main_content .pro_content .color_size table {
      margin-top: 19px;
      margin-bottom: 0;
      width: 100%;
      height: 78px; }
      .pro #main_content .pro_content .color_size table tr th {
        background-color: #f9f9f5;
        color: #887f69;
        letter-spacing: 0.05rem;
        font-size: 12px;
        font-size: 1.2rem;
        padding: 0;
        font-family: "Hiragino Kaku Gothic ProN";
        font-weight: normal;
        text-align: center;
        width: 30.30303%; }
      .pro #main_content .pro_content .color_size table tr td {
        width: 34.4697%;
        padding: 0; }
        .pro #main_content .pro_content .color_size table tr td input {
          display: block;
          height: 15px;
          width: 15px;
          margin: 0 auto; }
      .pro #main_content .pro_content .color_size table tr .table_h {
        width: 34.4697%; }
  .pro #main_content .pro_content #pro_detail {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    border-bottom: 1px solid #e3e8cf; }
    .pro #main_content .pro_content #pro_detail #pro_valuation {
      width: 61.07266%;
      padding-right: 25px;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
      .pro #main_content .pro_content #pro_detail #pro_valuation .price {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        align-items: center;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 19px 0;
        border-top: 1px solid #e3e8cf;
        border-bottom: 1px solid #e3e8cf; }
        .pro #main_content .pro_content #pro_detail #pro_valuation .price img {
          display: block; }
        .pro #main_content .pro_content #pro_detail #pro_valuation .price p {
          margin-bottom: 0;
          padding-left: 70px;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          font-style: italic;
          font-size: 14px;
          font-size: 1.4rem;
          font-family: "Hiragino Kaku Gothic ProN"; }
          .pro #main_content .pro_content #pro_detail #pro_valuation .price p #mark {
            color: #e80f66; }
          .pro #main_content .pro_content #pro_detail #pro_valuation .price p #money {
            color: #e80f66;
            font-size: 22px;
            font-size: 2.2rem; }
      .pro #main_content .pro_content #pro_detail #pro_valuation .quantity {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        align-items: center;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 19px 0; }
        .pro #main_content .pro_content #pro_detail #pro_valuation .quantity img {
          display: block;
          margin-right: 50px;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box; }
        .pro #main_content .pro_content #pro_detail #pro_valuation .quantity input {
          display: block;
          margin-bottom: 0;
          height: 40px;
          width: 45%; }
    .pro #main_content .pro_content #pro_detail #cart {
      width: 38.92734%; }
      .pro #main_content .pro_content #pro_detail #cart img {
        width: 100%; }
  .pro #main_content .pro_content .pro_description {
    padding-top: 35px; }
    .pro #main_content .pro_content .pro_description h3 {
      font-size: 16px;
      font-size: 1.6rem;
      font-family: "Hiragino Kaku Gothic ProN";
      font-weight: bold;
      letter-spacing: 0.05rem;
      color: #887f69;
      line-height: 24px; }
    .pro #main_content .pro_content .pro_description #pro_description_title {
      padding-bottom: 15px;
      border-bottom: 1px solid #887f69; }
    .pro #main_content .pro_content .pro_description p {
      font-size: 14px;
      font-size: 1.4rem;
      font-family: "Hiragino Kaku Gothic ProN";
      letter-spacing: 0.05rem;
      line-height: 24px; }
    .pro #main_content .pro_content .pro_description table {
      width: 100%;
      margin-bottom: 0; }
      .pro #main_content .pro_content .pro_description table tr th {
        background-color: #f9f9f5;
        color: #887f69;
        letter-spacing: 0.05rem;
        font-size: 12px;
        font-size: 1.2rem;
        padding: 0;
        font-family: "Hiragino Kaku Gothic ProN";
        font-weight: normal;
        text-align: center;
        width: 30.30303%; }
      .pro #main_content .pro_content .pro_description table tr td {
        color: #887f69;
        letter-spacing: 0.05rem;
        font-size: 12px;
        font-size: 1.2rem;
        font-family: "Hiragino Kaku Gothic ProN";
        font-weight: normal;
        width: 69.69697%; }

@media (max-width: 550px) {
  .pro {
    padding-left: 0;
    padding-right: 0; }
    .pro #main_content #breadcrumbs {
      margin-left: 10px;
      margin-right: 10px; }
    .pro #main_content .pro_content {
      padding: 20px 10px 30px 10px;
      margin-top: 15px;
      margin-bottom: 20px; }
      .pro #main_content .pro_content .pro_header {
        -webkit-flex-direction: column;
        flex-direction: column;
        margin-bottom: 16px; }
      .pro #main_content .pro_content .pro_img {
        padding: 10px 0 3px 0;
        -webkit-flex-direction: column;
        flex-direction: column; }
        .pro #main_content .pro_content .pro_img .display_img {
          width: 100%;
          margin-bottom: 3px; }
        .pro #main_content .pro_content .pro_img .img_list {
          width: 100%;
          justify-content: space-between;
          align-content: space-between; }
          .pro #main_content .pro_content .pro_img .img_list li {
            width: 18%;
            padding-left: 0; }
      .pro #main_content .pro_content .color_size {
        padding: 14px 0; }
        .pro #main_content .pro_content .color_size table {
          margin-top: 14px; }
      .pro #main_content .pro_content #pro_detail {
        -webkit-flex-direction: column;
        flex-direction: column;
        border-bottom: 0; }
        .pro #main_content .pro_content #pro_detail #pro_valuation {
          width: 100%;
          padding-right: 0; }
          .pro #main_content .pro_content #pro_detail #pro_valuation .price {
            padding: 14px 0; }
          .pro #main_content .pro_content #pro_detail #pro_valuation .quantity {
            padding: 14px 0;
            border-bottom: 1px solid #e3e8cf; }
        .pro #main_content .pro_content #pro_detail #cart {
          width: 70%;
          margin: 0 auto;
          padding-top: 14px; }
      .pro #main_content .pro_content .pro_description {
        padding-top: 30px; }
        .pro #main_content .pro_content .pro_description h3 {
          line-height: 23px;
          letter-spacing: 0.09rem;
          margin-bottom: 8px; }
        .pro #main_content .pro_content .pro_description #pro_description_title {
          margin-bottom: 18px; }
        .pro #main_content .pro_content .pro_description p {
          line-height: 20px; }
        .pro #main_content .pro_content .pro_description table tr td {
          padding-right: 15px;
          line-height: 17px; }
    .pro #main_content .recent_item {
      margin-left: 10px;
      margin-right: 10px; }
    .pro #main_content .shopping_guide {
      margin-left: 10px;
      margin-right: 10px; }
    .pro #sidebar .search {
      margin-left: 10px;
      margin-right: 10px; }
    .pro #sidebar .link {
      margin-left: 10px;
      margin-right: 10px; }
    .pro #sidebar .categories {
      margin-left: 10px;
      margin-right: 10px; }
    .pro #sidebar .about {
      margin-left: 10px;
      margin-right: 10px; }
    .pro #sidebar .shop_info {
      margin-left: 10px;
      margin-right: 10px; } }

/*# sourceMappingURL=shopping-site.css.map */
